@model Project_63131016.Models.Sach
@using Project_63131016.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Xóa sách này?</h3>
<div>
    <h4>@Model.TenSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            Số Lượng Tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Giá Bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            Bìa Sách
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.HinhSach)*@
            @Html.Image("../../"+ Model.HinhSach, "", "100")
        </dd>

        <dt>
            Loại sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach.TenLoaiSach)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
